 .form-control {
     font-size: 25px !important;
 }


 .travelpost-form {
     background-color: #6d61f3;
     border-radius: 25px;
 }


 .submit-button-div {
     display: flex;
     justify-content: center;
     text-align: center;
 }

 .submit-button {
     font-size: 25px !important;
 }