@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

/* .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    padding: 20px;
    width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 6px;
} */

.comment-box {
    margin: 10px;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 25px;
    background-color: #958cf2;

}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
    /* box-shadow: 0 0 0 1px rgb(255, 0, 0) !important */
    text-align: center;
}

.send-review-btn {
    background-color: #6d61f3 !important;
    color: #ffffff !important;
    font-size: 25px !important;

}

.send-btn:hover {
    color: #fff;
    background-color: #f50202;
    border-color: #f50202;
}

.stars {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left;
    gap: 15px;
}

.rating>input {
    display: none;
    text-align: left;
}

.rating>label {
    position: relative;
    width: 19px;
    font-size: 70px;
    color: rgb(255, 162, 0) !important;
    cursor: pointer;
    margin: 10px;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.reviews-div {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 100px;
}

@media (max-width: 768px) {
    .reviews-div {
        grid-template-columns: auto auto;
        padding: 10px;
    }
}

@media (max-width: 622px) {
    .reviews-div {
        grid-template-columns: auto;
        padding: 0%;
    }

    .review-item {
        margin: 0%;
    }

    .user-detail-div {
        margin: 0%;
    }
}

.review-item {
    display: flex;
    flex-flow: column;
    border: 1px solid white !important;
    margin: 0px 50px;
    height: fit-content;
    padding: 10px;
    text-align: center;
    background-color: #958cf2;
    border-radius: 25px;
    margin: auto;
    margin: 5px 10px;
    transition: box-shadow 0.3s ease;
}

.review-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #a39cf4;
}

.review-item-1 {
    display: flex;
    height: fit-content;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-review {
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word !important;
    font-size: 25px;
    margin: 5px 0;
    max-width: fit-content;
    color: black;
    padding: 10px;
}

.red-star {
    display: flex;
    flex-direction: row;
    margin: 15px 0 !important;
    max-width: 400px;
    align-items: center;
    gap: 5px;
    font-size: 35px;
    color: rgb(255, 162, 0) !important;

}

.rate-span {
    font-weight: 600;
    font-size: 30px;
    color: black;
}

.text-review {
    width: 100%;
    font-size: 22px;
    resize: none;
    border: 1px solid #ad9f9f;
    border-radius: 1px;
    padding: 5px;
}