 .posts {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding: 10px 20px;
     justify-content: space-evenly;
     row-gap: 10px;
     min-width: 430px;
 }


 .post-item {
     /* border: 2px solid black; */
     border-radius: 15px !important;
     padding: 10px 15px;
     margin-bottom: 20px;
     background-color: #6d61f3 !important;
     /* width: 400px; */
     /* min-height: 200px; */
     /* min-width: 430px; */
 }


 .post-item:hover {
     background-color: #f2f2f2 !important;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

     transform: scale(1.05);
     transition: 1s all;

     .p-detail,
     .span-detail {
         color: #6d61f3 !important;
     }

 }

 .post-item h2 {
     color: #333;
     font-weight: 800;
 }

 .post-image {
     padding: 0%;
     width: 100%;
     height: 250px;
     margin-right: 10px;
 }

 .post-image img {
     object-fit: cover;
     width: 100%;
     height: 100%;
     border-radius: 15px;
     margin-bottom: 10px;
     width: 400px;
     margin-left: 13px !important;
 }

 .post-details {
     text-align: left;
     padding-left: 10px;
 }

 .p-detail {
     font-size: 25px;
     margin: 5px 0;
     max-width: 400px;
     color: black;
 }

 .span-detail {
     font-weight: 700;
 }

 .post-link {
     text-decoration: none;
     color: inherit;
 }

 .post-link:hover {
     color: inherit;
     text-decoration: none;
 }

 .view-img {
     width: 40px;
     height: 40px;
 }

 .loc-img {
     width: 30px;
     height: 30px;
 }


 .search-form {
     display: flex;
     flex-flow: row;
     margin: auto;
     gap: 20px;
 }


 .form-control {
     font-size: 22px;
 }