* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chat-container {
    display : flex;
    width: 100%;
}

.all-conversations {
    list-style-type: none;
    width : 20%;
    height: 100vh;
    border-right: 1px solid black;
}

.messages-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width : 80%;
    justify-content: flex-end;
    align-items: flex-end;
}

.conversation {
    cursor: pointer;
    color : black;
    padding : 14px;
    border-bottom: 1px solid #eeeeee;
    font-size: 20px;
    font-family: 'Bahnschrift';
}

.conversation:hover {
    background-color: cadetblue;
    color : white;
    transition: 1s all;
}

.input-container {
    width: 100%;
    display: flex;
}

.input-container .button {
    cursor: pointer;
    background-color: aqua;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-input {
    width: 90%;
    font-size : 30px;
}

.messages-main {
    width: 100%;
    display: grid;
    padding: 10px;
    flex-direction: column;
    gap : 10px;
}

.recipient-message,.sender-message {
    width: max-content;
    font-size: 22px;
    padding: 6px;
    border-radius: 8px;
}

.recipient-message {
    justify-self: flex-start;
    background-color: gray;
    color : white;
}

.sender-message {
    background-color: aquamarine;
    color : white;
    justify-self: flex-end;
}

.message-header {
    padding: 10px;
    font-size: 22px;
    border-bottom: 1px solid black;
    color: black;
    width: 100%;
    position : absolute;
    top: 0;
    left :0;
}
